.pageTitle {
    background-color: #EEEEEE;
    padding: 14px 15px 6px 15px;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

div.newArticleOptions {
    background-color: #FBFBFB;
    border-left: 1px solid #DDDDDD;
    padding: 10px;
}

.pageBodyArea {
    padding: 10px;
}